.background {
  height: 100vh;
  background-image: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0) 0%,
      rgba(0, 0, 0, 0.75) 75%
    ),
    url("../../assets/images/5742156.jpg");
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
}

.pageHeader {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: end;
}

.pageHeader img {
  width: 14rem;
  height: auto;
  opacity: 0.65;
}

.heroText {
  font-weight: 900;
  font-size: 4rem;
  text-align: center;
  color: white;
  margin: 0;
  margin-bottom: 2rem;
  opacity: 0.85;
}
