.imgWraper {
  height: 25rem;
  width: 18rem;
  clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
  display: flex;
  align-items: center;
  justify-content: center;

  overflow: hidden;
}

.imgWraper img {
  height: 100%;
  transform: scale(1.1);
}

.imgDark {
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.61);
  transition: 400ms;
}

.textImgWraper {
  position: relative;
  cursor: pointer;
}

.textImgWraper h3 {
  position: absolute;
  top: 75%;
  left: 20%;
  font-weight: 900;
  font-size: 2rem;
  color: #ffffff;
  -webkit-text-stroke: 0.1rem #11111e;
  opacity: 0;
  transition: 400ms;
}

.textImgWraper:hover > h3 {
  opacity: 1;
  transition: 400ms;
}

.textImgWraper:hover > .imgWraper > .imgDark {
  background: none;
  transition: 400ms;
}
