.heroInfoWraper {
  display: flex;
  background: rgba(17, 17, 30, 0.63);
  /* height: 25rem; */
  color: white;
  align-items: center;
}
.leftInfoWraper {
  padding: 2rem 4rem;
  width: 30vw;
}

.leftInfoWraper > h2 {
  font-weight: 900;
  font-size: 3rem;
  margin: 0;
  padding: 0;
  width: 100%;
}

.img {
  padding-top: 4rem;
}
.img:hover {
  background: none;
}

.rightInfoWraper {
  padding: 2rem 4rem;
  overflow:hidden;
}

.rightInfoWraper> h2 {
  margin: 0;
  padding: 0;
}

.rightInfoWraper > div {
  overflow-y: auto;
}

.rightInfoWraper >div> ul  {
  list-style: none;
  font-size: 1rem;
  padding-inline-start: 0;
  overflow-y: auto;

}

.new {
  cursor: auto;
}

.new:hover > h3 {
  opacity: 0;
}

.new > div > div {
  background: none;
}
