.background {
  background-image: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0) 0%,
      rgba(0, 0, 0, 0.75) 0%
    ),
    url("../../assets/images/5742482.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 50vh;
  margin-top: 3rem;
}

.form {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.form input {
  /* box-sizing: border-box; */
  padding: 16px 48px;
  background: rgba(224, 224, 224, 0.85);
  border: 3px solid #11111e;
  border-radius: 32px;
  width: 30vw;
}

.form input::placeholder {
  font-style: italic;
  font-weight: 400;
  font-size: 1.5rem;
  text-align: center;
  line-height: 1.5rem;
}

.form button {
  padding: 1rem 2rem;
  background: #b4121a;
  border-radius: 2rem;
  border: none;
  font-weight: 900;
  font-size: 1.5rem;
  color: #ffffff;
  text-align: center;
  opacity: 0.75;
  cursor: pointer;
}

.form button:hover {
  opacity: 1;
}
